<!--This file contains the common header for site -->

<div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <!-- <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}/images/20201128_102650.jpg" /></a> -->

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1> 
          <img src="{{ site.baseurl }}/images/car.png" />
          <img src="{{ site.baseurl }}/images/smoke.png" />
          <img src="{{ site.baseurl }}/images/leaves.png" />
          <p class="site-description">{{ site.description }}</p>
        </div>
        
        <nav>
        {% for item in site.data.nav %}
            {% if item.dropdown %}
                <div class="dropdown">
                    <a class="dropbtn" href="{{site.baseurl}}{{ item.link }}"> {{ item.name }}</a>
                    {%- for content-name in item.dropdown -%}
                        <!--determing index in dropdown list to match with dropdown-link list-->
                        {%- assign dropdown-index = forloop.index0 -%}
                            <!--Ensuring drop down is only printed once with corresponding url-->
                            <div class="dropdown-content">
                                <a href="{{site.baseurl}}{{ item.dropdown-link [dropdown-index] }}"> {{ content-name }} </a>
                            </div>
                    {%- endfor -%}
                </div>
            {% else %}
                <a href="{{site.baseurl}}{{ item.link }}"> {{ item.name }} </a>
            {% endif %}
        {% endfor %}
        </nav>
      </header>
    </div>
  </div>