---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
    <!--Only if author assigned in post, for link to work need to create page name "author"_post.html in root-->
    {% if page.author %}
    by, <a href="{{ site.baseurl }}/{{page.author}}_posts">{{page.author}}</a>
    {% endif %}
  </div>

  <div class="tags">
    Tags: {{page.tags}}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>
